:root{
  --green:#22c55e;
  --dark:#064e3b;
  --light:#f0fdf4;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Poppins,sans-serif;
}

body{
  background:var(--light);
  color:#022c22;
}

/* HERO */
.hero{
  height:100vh;
  position:relative;
  background:url("images/hero.png");
  background-size:cover;
  background-position:center;
}

.hero-overlay{
  position:absolute;
  inset:0;
  background:linear-gradient(
    to right,
    rgba(34,197,94,.95),
    rgba(240,253,244,.85)
  );
}

.hero-content{
  position:relative;
  z-index:2;
  height:100%;
  padding:8%;
  max-width:1000px;
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.hero h1{
  font-size:clamp(3rem,6vw,5rem);
  font-weight:800;
  line-height:1.1;
}

.hero h1 span{
  color:var(--dark);
}

.hero h2{
  margin-top:20px;
  font-size:1.5rem;
  font-weight:600;
}

.hero p{
  margin-top:20px;
  font-size:1.1rem;
}

.hero-buttons{
  margin-top:35px;
}

/* BUTTONS */
.btn{
  padding:16px 36px;
  border-radius:50px;
  font-weight:700;
  display:inline-block;
  margin-right:15px;
}

.primary{
  background:var(--dark);
  color:white;
}

.secondary{
  border:2px solid var(--dark);
  color:var(--dark);
}

/* INTRO */
.intro{
  padding:110px 12%;
  background:white;
  text-align:center;
}

.intro p{
  max-width:900px;
  margin:auto;
  font-size:1.15rem;
}

/* SERVICES */
.services-section{
  padding:120px 10%;
}

.services-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
  gap:30px;
}

.service-box{
  background:white;
  padding:35px;
  border-radius:22px;
  box-shadow:0 18px 40px rgba(0,0,0,.08);
}

/* PROCESS */
.process{
  padding:120px 10%;
  background:#ecfeff;
}

.process-steps{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:40px;
}

.process span{
  font-size:2.5rem;
  font-weight:800;
  color:var(--green);
}

/* GALLERY */
.gallery-section{
  padding:120px 10%;
  background:white;
}

.gallery{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
  gap:25px;
}

.gallery img{
  width:100%;
  border-radius:22px;
}

/* CTA */
.cta{
  padding:120px 10%;
  text-align:center;
  background:linear-gradient(135deg,#22c55e,#4ade80);
}

.cta p{
  margin:20px 0 30px;
}

/* FOOTER */
footer{
  padding:50px;
  background:#022c22;
  color:white;
  text-align:center;
}

/* WHATSAPP */
.whatsapp{
  position:fixed;
  bottom:30px;
  right:30px;
  background:#25d366;
  padding:15px 28px;
  border-radius:50px;
  color:black;
  font-weight:700;
}
